    .text {
      
        font-family: 'Muli', sans-serif;
        color: white;
       
        &1 {
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
        }
       
        &2{
            font-size:0.8rem ;

        }

    }