.TextArea1 {
    background: white;
    border-radius: 2px;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 1rem;
    
    resize: vertical;
    display: block;

    font-family: 'Muli', sans-serif;

    &::placeholder {
        font-family: 'Muli', sans-serif;
             font-size: 1rem;
             font-weight: 400;
      }
}